<!DOCTYPE html>
<html>
<head>
  <title>Add Book</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reg-form.css') }}">
</head>
<body>
  <div class="navbar">
		<a href="/books" class="logout-btn"><i class="fas fa-home"></i></a>
    <h1>Add Book</h1>
	  </div>
<div class="reg">
  <form action="/addbooks" method="post">
    <div class="form-group">
      <label for="ID">ID:</label>
      <input type="number" id="ID" class="form-control" name="ID" placeholder="Enter the book ID" required>
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" class="form-control" name="title" placeholder="Enter the book title" required>
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" id="author" class="form-control" name="author" placeholder="Enter the author's name" required>
    </div>
    <div class="form-group">
      <label for="publication_date">Publication Date:</label>
      <input type="text" id="publication_date" class="form-control" name="publication_date" placeholder="Enter the publication date" required>
    </div>
    <div class="form-group">
      <label for="copies_available">Copies :</label>
      <input type="number" id="copies_available" class="form-control" name="copies_available" placeholder="Enter the number of copies " required>
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
  </form>
</div>

 
  <div class="footer">
    <p>© 2023 College of Engineering Cherthala. All rights reserved.</p>
    </div>
</body>
</html>
