<!doctype html>
<html>
  <head>
    <title>Student Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  </head>
  <body>
    <h1>Student Information</h1>
    <a href="/qrlib" id="scan-btn"><i class="fas fa-qrcode"></i></a>
    
    <a href="/librarian-dashboard" class="logout-btn"><i class="fas fa-home"></i></a>
    <table>
      <tr>
        <th>Name:</th>
        <td>{{ student["name"] }}</td>
      </tr>
      <tr>
        <th>Register Number:</th>
        <td>{{ student["register_number"] }}</td>
      </tr>
      <tr>
        <th>Branch:</th>
        <td>{{ student["branch"] }}</td>
      </tr>
      <tr>
        <th>Semester:</th>
        <td>{{ student["semester"] }}</td>
      </tr>
      <tr>
        <th>Books Available:</th>
        <td>{{ student["max_book"] }}</td>
      </tr>
      <tr>
        <th>Update details:</th>
        <td> <button onclick="toggleTable()">Update</button> </td>
      </tr>     
    </table>
    <table id="myTable" style="display:none;">
      <tr id="update_library_info">
        <th>Update Library Information:</th>
        <td>
          <ul>
            <li>
              <form method="POST" action="/update_info/{{ student['register_number'] }}" id="update_form">
                <label for="books_available">Books Available:</label>
                <select id="books_available" name="books_available">
                    <option value="0" {% if student['max_book'] == 0 %}selected{% endif %}>0</option>
                    <option value="1" {% if student['max_book'] == 1 %}selected{% endif %}>1</option>
                    <option value="2" {% if student['max_book'] == 2 %}selected{% endif %}>2</option>
                    <option value="3" {% if student['max_book'] == 3 %}selected{% endif %}>3</option>
                    <option value="4" {% if student['max_book'] == 4 %}selected{% endif %}>4</option>
                </select>
                <br>
                <button type="submit">Update</button>
            </form>
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <script>
      const form = document.getElementById('update_form');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        fetch(form.action, {
          method: form.method,
          body: formData,
        })
          .then(response => {
            if (response.ok) {
              location.reload();
            }
          })
          .catch(error => {
            console.error(error);
          });
      });
      function toggleTable() {
        var table = document.getElementById("myTable");
        if (table.style.display === "none") {
          table.style.display = "table";
        } else {
          table.style.display = "none";
        }
      }
    </script>    
      </body>
    </html>