<!doctype html>
<html>
  <head>
    <title>Student Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  </head>
  <body>
<!--     <h1>Student Information</h1>
    <a href="/reg_lib" class="logout-btn"><i class="fas fa-home"></i></a>
     -->
    <div class="navbar">
      <a href="/reg_lib" class="logout-btn"><i class="fas fa-home"></i></a>
      <h1>Student Information</h1>
  
    </div>
    <div id="myTableContainer">
    <table>
      <tr>
        <th>Name:</th>
        <td>{{ student["name"] }}</td>
      </tr>
      <tr>
        <th>Register Number:</th>
        <td>{{ student["register_number"] }}</td>
      </tr>
      <tr>
        <th>Branch:</th>
        <td>{{ student["branch"] }}</td>
      </tr>
      <tr>
        <th>Semester:</th>
        <td>{{ student["semester"] }}</td>
      </tr>
      <tr>
        <th>Books Available To Borrow:</th>
          <td>{{ student["max_book"] }}</td>
      </tr>
      <tr> 
        {% for loan in book_loans %}
          <tr>
            <th>Name of book taken:</th>
            <td>{{ loan["title"] }}</td>
            <th>Due date:</th>
            <td>{{ loan["return_date"] }}</td>
          </tr>
        {% endfor %}
        
        <th>Update details:</th>
        <td> <button onclick="toggleTable()">Update</button> </td>
      </tr>     
    </table>
    <table id="myTable" style="display:none;">
      <tr>
        <th>Borrow Books:</th>
        <td>
          <ul>
            <li>
              <form id="update_borrow" action="/borrow/{{ student['register_number'] }}" method="post">
                <label for="title">Book title:</label>
                <select id="title" name="title">
                  {% for book in books %}
                    {% set copies_available = book.get('copies_available', 0) %}
                    <option value="{{ book['title'] }}" {% if books["title"] == book['title'] %}selected{% endif %}>{{ book['title'] }} ({{ copies_available }})</option>
                  {% endfor %}
                </select>
                <br>
                <input type="submit" value="Borrow">
              </form>
              
              
              
            
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Return Books:</th>
        <td>
          <ul>
            <li>
            <form id="update_return" action="/return/{{ student['register_number'] }}" method="post">
              <label for="titles">Book title:</label>
              <select id="titles" name="titles">
                {% for book in book_loans %}
                <option value="{{ book['title'] }}" {% if books["title"] == book['title'] %}selected{% endif %}>{{ book['title'] }}</option>
              {% endfor %}
            </select>
              <br>
              <input type="submit" value="Return">
            </form>
            
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <div class="footer">
      <p>© 2023 College of Engineering Cherthala. All rights reserved.</p>
    </div>
    <script>
      function handleSubmit(form) {
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          fetch(form.action, {
            method: form.method,
            body: formData,
          })
            .then(response => {
              if (response.ok) {
                location.reload();
              }
            })
            .catch(error => {
              console.error(error);
            });
        });
      }
      
      const updateRouteForm = document.getElementById('update_borrow');
      handleSubmit(updateRouteForm);
      
      const updateBusInfoForm = document.getElementById('update_return');
      handleSubmit(updateBusInfoForm);
      



      function toggleTable() {
        var table = document.getElementById("myTable");
        if (table.style.display === "none") {
          table.style.display = "table";
        } else {
          table.style.display = "none";
        }
      }
      
    </script>    
      </body>
    </html>