<!DOCTYPE html>
<html>
<head>
    <title>Library Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body style="background-color: #282828;">
    <div class="navbar">
		<a href="/logout">Home</a>
		<h1>Library</h1>
		<a href="/view-std-lib" class="add-btn">Add Students</a>
		<a href="/reg_lib" class="view-btn">View-student</a>
        <a href="/qrlib" class="scan-btn">Scan_code</a>
		<a href="/logout" class="logout-btn">Logout</a>
	</div>
</body>
</html>