<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/views.css') }}">
    <title>View Library Students</title>
</head>
<body>
<!--     <h1>Library Students</h1>
    <a href="/librarian-dashboard" class="logout-btn"><i class="fas fa-home"></i></a> -->

    
    <div class="navbar">
      <a href="/librarian-dashboard" class="logout-btn"><i class="fas fa-home"></i></a>
      <h1>Library Students</h1>
  
    </div>

    {% if students %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Register number</th>
                    <th>Semester</th>
                    <th>Return status</th>
                    <th>View Profile</th>
                </tr>
            </thead>
            <tbody>
              {% for student in students %}
              <tr>
                <td>{{ student['name'] }}</td>
                <td>{{ student['register_number'] }}</td>
                <td>{{ student['semester'] }}</td>
                <td>
                     {% if student["books_taken"] == 0  %}
                    <span style="color: green;">Returned</span>
                    {% else %}
                      <span style="color: red;">Not Returned</span>
                  {% endif %}
                </td>
                  <td>
                    <form action="/lib_profile/{{ student['register_number'] }}" method="GET">
                      <button type="submit" class="btn btn-primary"><i class="fas fa-user"></i> </button>
                  </form>                  
                  </td>
              </tr>
          {% endfor %}
          
            </tbody>
        </table>
    {% else %}
        <p>No students found.</p>
    {% endif %}
    <div class="footer">
      <p>© 2023 College of Engineering Cherthala. All rights reserved.</p>
    </div>
</body>
</html>

