<!doctype html>
<html>
  <head>
    <title>Student Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  </head>
  <body>

    <div class="navbar">
      <a href="/reg_bus" class="logout-btn"><i class="fas fa-home"></i></a>
      <h1>Student Information</h1>
    </div>
    <div id="myTableContainer">
    <table>
      <tr>
        <tr>
          <th>Name:</th>
          <td>{{ student["name"] }}</td>
        </tr>
        <tr>
          <th>Register Number:</th>
          <td>{{ student["register_number"] }}</td>
        </tr>
        <tr>
          <th>Branch:</th>
          <td>{{ student["branch"] }}</td>
        </tr>
        <tr>
          <th>Semester:</th>
          <td>{{ student["semester"] }}</td>
        </tr>
        <tr>
          <th>Route:</th>
          <td>{{ student["route_name"] }}</td>
        </tr>
        <tr>
          <tr>
            <th>Fare:</th>
            <td>₹{{ student["fee_per_semester"] }}</td>

          </tr>
          <tr>
        <th>Fee status:</th>

        <td>
          {% if student["fee_paid"] == '1'  %}
          <span style="color: green;">Fee paid</span>
          {% else %}
            <span style="color: red;">Not paid</span>
        {% endif %}
        </td>
      </tr>
      <tr>
        <th>Update details:</th>
        <td> <button onclick="toggleTable()">Update</button> </td>
        
      </tr>
      <tr>
    </table>
    
     <table id="myTable" style="display:none;">
      <tr>
        <th>Update route:</th>
        <td>    
          <form id="update-route-form" action="/update_bus_route/{{ student['register_number'] }}" method="post">
          <label for="route_name">Select a Route:</label>
          <select id="route_name" name="route_name">
            {% for route in routes %}
            <option value="{{ route['route_name'] }}" {% if routes["route_name"] == route['route_name'] %}selected{% endif %}>{{ route['route_name'] }} (₹{{ route['fee_per_semester'] }})</option>

          {% endfor %}
          </select>
          <br>
          <input type="submit" value="Update Route">
        </form>
      </td>
      </tr>
      <tr>
        <th>Update fee:</th>
        <td>
          <ul>
            <li>
              <form method="POST" action="/update_infobus/{{ student['register_number'] }}" id="update_form">
                <label for="fee_paid">Fee Paid:</label>
                <select id="fee_paid" name="fee_paid">
                  <option value="0" {% if student["fee_paid"] == "0" %}selected{% endif %}>Do not pay</option>
                  <option value="1" {% if student["fee_paid"] == "1" %}selected{% endif %}>Pay</option>
                </select>
                <br>
                <input type="submit" value="Update fee">
              </form>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
    <div class="footer">
      <p>© 2023 College of Engineering Cherthala. All rights reserved.</p>
    </div>
    <script>
      function handleSubmit(form) {
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          fetch(form.action, {
            method: form.method,
            body: formData,
          })
            .then(response => {
              if (response.ok) {
                location.reload();
              }
            })
            .catch(error => {
              console.error(error);
            });
        });
      }
      
      const updateRouteForm = document.getElementById('update-route-form');
      handleSubmit(updateRouteForm);
      
      const updateBusInfoForm = document.getElementById('update_form');
      handleSubmit(updateBusInfoForm);
      



      function toggleTable() {
        var table = document.getElementById("myTable");
        if (table.style.display === "none") {
          table.style.display = "table";
        } else {
          table.style.display = "none";
        }
      }
      



    </script>
  </body>
</html>

