<!doctype html>
<html>
  <head>
    <title>Student Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-jWFGP+AAOsxIgRRxv5ar1Hth8akl5DdNV5g5rLGBchGWtLILMfI1dR+ebvMPbNRGAv8Xnyodf3c+Q2Sog0Tpgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  </head>
  <body>
    <h1>Student Information</h1>
    <a href="/reg_bus" class="logout-btn"><i class="fas fa-home"></i></a>
    <table>
      <tr>
        <th>Name:</th>
        <td>{{ student[1] }}</td>
      </tr>
      <tr>
        <th>Register Number:</th>
        <td>{{ student[5] }}</td>
      </tr>
      <tr>
        <th>Branch:</th>
        <td>{{ student[4] }}</td>
      </tr>
      <tr>
        <th>Semester:</th>
        <td>{{ student[3] }}</td>
      </tr>
      <tr>
        <tr>
          <th>Route:</th>
          <td>{{ student[8]}}</td>
        </tr>
        <tr>
          <tr>
            <th>Fare:</th>
            <td>{{ student[9]}}</td>
          </tr>
          <tr>
        <th>Fee status:</th>

        <td>
          {% if student[7] == 1  %}
          <span style="color: green;">Fee paid</span>
          {% else %}
            <span style="color: red;">Not paid</span>
        {% endif %}
        </td>
      </tr>
      <tr>
        <th>Update details:</th>
        <td> <button onclick="toggleTable()">Update</button> </td>
        
      </tr>
      <tr>
    </table>
    
     <table id="myTable" style="display:none;">
      <tr>
        <th>Update route:</th>
        <td>    
          <form id="update-route-form" action="/update_bus_route/{{ student[5] }}" method="post">
          <label for="route_name">Select a Route:</label>
          <select id="route_name" name="route_name">
            <option value="Route A" {% if student[6] == "Route A" %}selected{% endif %}>Route A</option>
            <option value="Route B" {% if student[6] == "Route B" %}selected{% endif %}>Route B</option>
            <option value="Route C" {% if student[6] == "Route C" %}selected{% endif %}>Route C</option>
            <option value="Route E" {% if student[6] == "Route E" %}selected{% endif %}>Route E</option>
            <option value="Route F" {% if student[6] == "Route F" %}selected{% endif %}>Route F</option>
            <option value="Route G" {% if student[6] == "Route G" %}selected{% endif %}>Route G</option>
            <option value="Route H" {% if student[6] == "Route H" %}selected{% endif %}>Route H</option>
            <option value="Route I" {% if student[6] == "Route I" %}selected{% endif %}>Route I</option>
            <option value="Route J" {% if student[6] == "Route J" %}selected{% endif %}>Route J</option>
          </select>
          <br>
          <input type="submit" value="Update Route">
        </form>
      </td>
      </tr>
      <tr>
        <th>Update fee:</th>
        <td>
          <ul>
            <li>
              <form method="POST" action="/update_infobus/{{ student[5] }}" id="update_form">
                <label for="fee_paid">Fee Paid:</label>
                <select id="fee_paid" name="fee_paid">
                  <option value="0" {% if student[7] == "0" %}selected{% endif %}>Do not pay</option>
                  <option value="1" {% if student[7] == "1" %}selected{% endif %}>Pay</option>
                </select>
                <br>
                <input type="submit" value="Update fee">
              </form>
            </li>
          </ul>
        </td>
      </tr>
    </table>

    <script>
      function handleSubmit(form) {
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          fetch(form.action, {
            method: form.method,
            body: formData,
          })
            .then(response => {
              if (response.ok) {
                location.reload();
              }
            })
            .catch(error => {
              console.error(error);
            });
        });
      }
      
      const updateRouteForm = document.getElementById('update-route-form');
      handleSubmit(updateRouteForm);
      
      const updateBusInfoForm = document.getElementById('update_form');
      handleSubmit(updateBusInfoForm);
      



      function toggleTable() {
        var table = document.getElementById("myTable");
        if (table.style.display === "none") {
          table.style.display = "table";
        } else {
          table.style.display = "none";
        }
      }
      



    </script>
  </body>
</html>

