<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/logins.css') }}">
    <title>College Office Login</title>
</head>
<body>
    <div class="navbar">
        <a href="/" class="logout-btn"><i class="fas fa-home"></i></a>
        <h1>College Office Login</h1>
      </div>
    <form method="post" action="/college-office-login">
        <label>Username:</label>
        <input type="text" name="username"><br><br>
        <label>Password:</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <div class="footer">
        <p>© 2023 College of Engineering Cherthala. All rights reserved.</p>
      </div>
</body>
</html>
