<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    <link rel="stylesheet" href="{{ url_for('static', filename='css/views.css') }}">
    <title>View Library Students</title>
</head>
<body>
    <h1>College bus Students</h1>
    <a href="/college-office-dashboard" class="logout-btn"><i class="fas fa-home"></i></a>

    {% if students %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Register number</th>
                    <th>Semester</th>
                    <th>View Profile</th>
                    <th>Delete Profile</th>
                </tr>
            </thead>
            <tbody>
              {% for student in students %}
              <tr>
                <td>{{ student['name'] }}</td>
                <td>{{ student['email'] }}</td>
                <td>{{ student['register_number'] }}</td>
                <td>{{ student['semester'] }}</td>
                  <td>
                    <form action="/bus_profile/{{ student['register_number'] }}" method="GET">
                      <button type="submit" class="btn btn-primary"><i class="fas fa-user"></i></button>
                  </form>                  
                  </td>
                  <td>
                    <form action="/delete-std-bus/{{ student['register_number'] }}" method="GET">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
              </tr>
          {% endfor %}
          
            </tbody>
        </table>
    {% else %}
        <p>No students found.</p>
    {% endif %}
</body>
</html>