{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Scan QR Code</h2>
      <video id="preview"></video>
    </div>
  </div>
</div>

<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

<script type="text/javascript">
  // Get the video element
  const video = document.getElementById("preview");

  // Start the camera and get the stream
  const scanner = new Instascan.Scanner({ video: video });
  scanner.addListener('scan', function (content) {
    // Redirect to the bus_profile_qr route with the scanned QR code data
    window.location.href = "/bus_profile_qr?data=" + content;
  });
  Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
      scanner.start(cameras[0]);
    } else {
      console.error('No cameras found.');
    }
  }).catch(function (e) {
    console.error(e);
  });
</script>
{% endblock %}
