
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #142d34;
}

/* Style the page title */
h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}
a:hover .fa-home {
    color: #142d34;
}
#scan-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #142d34;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  transition: all .2s ease;
  z-index: 9999;
  font-size: 24px; 
}


#scan-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,.2);
  background-color: #fff;
  color: #142d34;
}

/* Style the table */

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

/* Style the table headers */

th {
  background-color: #142d34;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  color: #fff;
}

/* Style the table cells */

td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
 

/* Style the update button */

button {
    background-color: #4ca6af;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0ed5e7;
    border-color: #0ed5e7;
  }
  
  
/* Style the update form */

#myTable {
  margin: 20px auto;
}

#myTable th {
  width: 40%;
}

#myTable td {
  width: 60%;
}

#myTable form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#myTable label {
  font-weight: bold;
  margin-bottom: 5px;
}

#myTable select {
  margin-bottom: 10px;
}

#myTable input[type="submit"] {
    background-color: #4ca6af;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #myTable input[type="submit"]:hover {
    background-color: #0ed5e7;
    border-color: #0ed5e7;
  }
  
/* Style the colors of the fee status */

span {
  font-weight: bold;
}

span[style="color: green;"] {
  color: green;
}

span[style="color: red;"] {
  color: red;
}
.navbar {
  background-color: #142d34;
  color: #ffffff;
  padding: 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #142d34;
}
.footer {
  background-color: #142d34;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: auto;
  padding-top: 4px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }

  .navbar a {
    padding: 5px;
    font-size: 16px;
  }

  /* Footer */
  .footer {
    height: 80px;
    font-size: 14px;
  }
}
#myTableContainer {
  margin: 20px auto;
  max-height: 400px; /* Set a maximum height for the table container */
  overflow-y: auto; /* Add vertical scrollbars when the content exceeds the container height */
}

#myTable {
  width: 100%;
}

