/* Alternate CSS */

/* Navbar */
.navbar {
  background-color: #142d34;
  color: #ffffff;
  padding: 10px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #142d34;
}

/* Main content */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

p {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #142d34;
}

.card p {
  margin-bottom: 10px;
  color: #142d34;
}

.card a {
  background-color: #142d34;
  border: none;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.card a:hover {
  background-color: #ffffff;
  color: #142d34;
}

.footer {
  background-color: #142d34;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: auto;
  padding-top: 4px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }

  .navbar a {
    padding: 5px;
    font-size: 16px;
  }

  /* Main content */
  h1 {
    font-size: 28px;
    margin-top: 30px;
  }

  p {
    font-size: 16px;
    margin-top: 20px;
  }

  .container {
    margin-top: 30px;
  }

  .card {
    max-width: 250px;
    margin: 10px;
    font-size: 14px;
    padding: 15px;
  }

  .card h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .card p {
    margin-bottom: 8px;
  }

  .card a {
    font-size: 16px;
    margin-top: 8px;
    padding: 5px;
  }

  /* Footer */
  .footer {
    height: 80px;
    font-size: 14px;
  }
}
