<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/views.css') }}">
  
    <title>View Students</title>
</head>
<body>
    <!-- <h1>Registered Students</h1>
    <a href="/admin-dashboard" class="logout-btn"><i class="fas fa-home"></i></a> -->

    <div class="navbar">
        <a href="/admin-dashboard" class="logout-btn"><i class="fas fa-home"></i></a>
        <h1>Registered Students</h1>
    
      </div>
      <div class="add-book-btn">
        <a href="/register-success" class="view-btn">Register</a>
    </div>
    
    {% if students %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Register number</th>
                    <th>Semester</th>
                    <th>Download QR</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student['name'] }}</td>
                    <td>{{ student['branch'] }}</td>
                    <td>{{ student['register_number'] }}</td>
                    <td>{{ student['semester'] }}</td>
                    <td>
                        <a href="/download-qr/{{ student['register_number'] }}" class="download-btn"><i class="fas fa-download"></i></a>
                    </td>
                    <td><a href="/edit-student/{{ student['register_number'] }}" class="edit-btn"><i class="fas fa-edit"></i></a></td>
                    <td>
                        <form action="/delete-student/{{ student['register_number'] }}" method="GET">
                            <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                    <td>
                        <form action="/profile/{{ student['register_number'] }}" method="GET">
                          <button type="submit" class="btn btn-primary"><i class="fas fa-user"></i></button>
                      </form>                  
                      </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No students found.</p>
    {% endif %}

    <div class="footer">
        <p>© 2023 College of Engineering Cherthala. All rights reserved.</p>
      </div>
</body>
</html>
