
<html>
<head>
	<title>Student Information System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>


	<div class="navbar">
		<a href="#">Home</a>
		<h1>College Of Engineering Cherthala</h1>
		<a href="/admin-login" class="admin-btn">Admin</a>
		<a href="/librarian-login" class="library-btn">Library</a>
		<a href="/college-office-login" class="office-btn">Office</a>
		<a href="http://www.cectl.ac.in/" class="office-btn">About</a>
	</div>
	<!-- Main content -->

</body>

</html>
